<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ampieguillermo.bakingforall">

  <!-- This permission is necessary in order to perform network access. -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".BakingForAllApp"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:name=".recipe.list.RecipeListActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/recipe_detail_title"
      android:launchMode="singleTop"
      android:name=".recipe.detail.RecipeDetailActivity"
      android:parentActivityName=".recipe.list.RecipeListActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ampieguillermo.bakingforall.recipe.list.RecipeListActivity"/>
    </activity>
    <activity
      android:label="@string/title_activity_recipe_step_content"
      android:name=".recipe.detail.recipestepcontent.RecipeStepContentActivity"
      android:parentActivityName=".recipe.detail.RecipeDetailActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ampieguillermo.bakingforall.recipe.detail.RecipeDetailActivity"/>
    </activity>
  </application>
</manifest>